.navbar-default{
	background: #003366;
	color: white;

}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #18BC9C;
	background: transparent;
}
.navbar-default .navbar-nav > li > a{
	color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	color: white;
	background: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #18BC9C;
	background: transparent;;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	color: #18BC9C;
	background: transparent;;
}

.corpo{
	margin-top: 50px;
}
#tabelalogin{
	border-spacing: 5px;  border-collapse: separate;
}
#modallogin{
	margin-top: 200px;
	width: 280px;
}

#btn-link-to,
#btn-link-to a:hover,
#btn-link-to a:focus,
#btn-link-to a:link,
#btn-link-to a:active,
#btn-link-to a:visited{
	color: white;
	text-decoration:none;
	background: transparent;
}

#lista-equipes{
	white-space: nowrap;
	width: 300px;
}


#pontos{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
