// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#modal-lista-times{
	width: 450px;
	margin-top: 70px;
}

#painelEquipe{
	width: 60%; 
	margin-top: 70px
}